body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: white;
  }

  #counter {
    position: absolute;
    top: 60px;
    right: 20px;
  }
  #maxScore {
    position: absolute;
    top: 20px;
    right: 20px;
  }